.navbar {
  grid-column: span 12;
  z-index: 6;

  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menubar {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu_links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 80px;
  padding-left: 0.7em;
  padding-top: 0.2em;
}

.logo:hover {
  cursor: pointer;
}

.logo > img {
  height: 100%;
  object-fit: cover;
}

.icon,
.menu_icon {
  position: relative;
  padding: 0.3em;
  font-size: 1.7em;
  transition: ease-in-out 0.2s;
}

.icon:hover {
  cursor: pointer;
}

.icon::after {
  content: attr(data-name);
  display: block;
  position: absolute;
  color: white;
  font-size: 0.6em;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  transform: scale(0);
  transition: transform ease-out 150ms, bottom ease-out 150ms;
}

.icon:hover::after {
  transform: scale(1);
  top: 100%;
  right: 50%;
}

.menu_icon {
  z-index: 6;
}

.menu_icon:hover {
  transform: scale(1.2);
}

.mobile_menu {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  background-color: black;
  z-index: 5;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile_menu > .link {
  color: white;
  font-size: 1.6em;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mobile_menu > .link:hover {
  transform: scale(1.2);
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.mobile_menu > .hr {
  border: 0;
  height: 1px;
  width: 70%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
  animation-name: hrAnimation;
  animation-duration: 2s;
}

@keyframes hrAnimation {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .navbar > .menubar > .icon {
    display: none;
  }

  .logo {
    height: 60px;
  }

  .mobile_menu > .link:hover {
    transform: none;
  }
}
