.root {
  grid-column: span 12;
  border-top: solid 0.2px white;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.root > .links {
  width: 100%;

  transform: translateY(5%);
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
}

.root > .links > h1 {
  font-size: 1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.root > .links > h1:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: ease-in-out 0.4s;
}
